<%= form_for :crypt, :url => { :action => :make_crypt }, :html => { :id => "crypt" }, remote: true do |f| %>
	<p>
		<%= f.label :text, "Текст:" %><br />
		<%= f.text_area :text, :value => @text, :autofocus => "true" %>
	</p>
	<p>
		<%= f.label :crypt_id, "Шифр:" %><br />
		<%= f.select :crypt_id, [["Шифр Цезаря", 1], ["Шифр Киё-То", 2]] %>
	</p>
	<p>
		<%= f.label :encode, "Зашифровать:" %>
		<%= f.radio_button :encode, 1, :checked => true %><br />
		<%= f.label :encode, "Расшифровать:" %>
		<%= f.radio_button :encode, 2 %>
	</p>
	<p>
		<%= f.label :arg, "Параметр(количество сдвигов | кодовое слово):" %><br />
		<%= f.text_field :arg, :value => @arg %>
	</p>
	<p>
		<%= f.label :non_sym, "Оставлять без изменений следующие символы(пишите все символы слитно):" %><br />
		<%= f.text_field :non_sym, :value => @non_sym %>
	</p>
	<p>
		<%= f.submit "Выполнить" %>
	</p>
	<div id="result">
	<% if @result %>
		<%= @result %>
	<% end %>
	</div>
<% end %>